body{
    margin:auto;
    max-width:40em;
    font-family: "Serif";
    font-size: 150%;
}
img{
        width:100%;
        max-width:40em;
}
code,pre{
    background-color: #000000;
    border-radius: 0.25em;
    border-style: none;
    color: #ddddff;
    font-family: monospace;
    font-weight: bold;
}
pre{
    border-color: #8080ff;
    border-radius: 1em;
    border-style: outset;
    border-width: 0.25em;
    padding: 0.5em;
}
nav{
    background-color: #8080ff;
    color: #ffffff;
    padding: 0 0.25em 0 0.25em; 
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
}
nav>a:link{
    color: #ffffff
}
nav>a:visited{
    color: #ffffff
}
