body{
    margin:auto;
    max-width:40em;
    font-size: 150%;
}
img{
        width:100%;
        max-width:40em;
}
code,pre{
    background-color: #000000;
    border-radius: 0.25em;
    border-style: none;
    color: #ddddff;
    font-family: monospace;
    font-weight: bold;
}
pre{
    border-color: #8080ff;
    border-radius: 1em;
    border-style: outset;
    border-width: 0.25em;
    padding: 0.5em;
}
img.code{
    background-color: #000000;
    border-color: #8080ff;
    border-radius: 1em;
    border-style: outset;
    border-width: 0.25em;
    color: #ddddff;
    padding: 0.5em;
    width: 100%;
}
nav{
    background-color: #8080ff;
    color: #ffffff;
    padding: 0 0.25em 0 0.25em;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}
nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav>ul>li>a{
    padding: 0 0.5em 0 0.5em;
}
nav>ul>li>a:link{
    color: #ffffff;
}
nav>ul>li>a:visited{
    color: #ffffff;
}
nav>ul>li{
    text-align: center;
    display: inline;
}
nav>ol>li:hover{
    background-color: #aaaaff;
}
a:focus{
    background-color: #cccc44;
}
