body {
    font-family: serif !important;
}

.centering {
    width: 40em;
    margin: auto;
    font-size: 150%;
}

img {
    height: auto;
    max-width: 95%;
    min-width: 25%;
}

code,
pre {
    background-color: #000000;
    border-radius: 0.25em;
    border-style: none;
    color: #ddddff;
    font-family: monospace;
    font-weight: bold;
}

pre {
    border-color: #8080ff;
    border-radius: 1em;
    border-style: outset;
    border-width: 0.25em;
    padding: 0.5em;
}

img.code {
    background-color: #000000 !important;
    border-color: #8080ff !important;
    border-radius: 1em !important;
    border-style: outset !important;
    border-width: 0.25em !important;
    color: #ddddff !important;
    padding: 0.5em !important;
    width: 100% !important;
}

.navbar {
    padding: 0 0 0 0;
}
@media (max-width: 1280px) {
    .navbar {
        font-size: 2rem;
    }
}
.navbar-toggler {
    width: 7em;
    height: 7em;
}
.navbar-toggler-icon {
    width: 5em;
    height: 5em;
}
.navbar-light {
    background-color: #8080ff !important;
    color: #ffffff !important;
}
.nav-link {
    color: #ffffff !important;
}
a.nav-link {
    padding: 0 0 0 0;
}
a:focus {
    background-color: #cccc44;
}
